#!/bin/zsh

set -euo pipefail

{{ template "init-env.sh" . }}
{{ template "util-log.sh" . }}

{{ if .instance.enable_system_update -}}

_t0=$(date +%s.%N)

{{- if .instance.is_machine_virtual -}}
{{/* more permissive mode for non-admin use */}}
umask 022
{{- end }}

log_info "Installing Homebrew packages"

eval "$(/opt/homebrew/bin/brew shellenv)"

{{ $packages := include (printf ".chezmoitemplates/packages-%s.toml" .instance.os_distro) | fromToml -}}
{{ $section := index $packages "data" "instance" "packages" .instance.os_distro .instance.package_index -}}
{{ $brew := $section.brew | sortAlpha | uniq -}}
{{ $cask := $section.cask | sortAlpha | uniq -}}

brew command-not-found-init

brew bundle --file=/dev/stdin <<EOF
{{- range $brew }}
brew "{{ . }}"
{{- end }}

{{- range $cask }}
cask "{{ . }}"
{{- end }}
EOF

# ensure no compinit security complaints
{{ if .instance.is_machine_virtual -}}
find /opt/homebrew -type d -exec chmod 755 {} \;
{{- else -}}
chmod 750 /opt/homebrew/share
{{- end }}

_t1=$(date +%s.%N)
_sec=$(printf "%.3f" $((_t1 - _t0)))

log_info "Homebrew packages completed: seconds: ${_sec}"

{{- else }}
log_info "System packages are not enabled for installation"

{{- end }}
