#!/bin/zsh

set -euo pipefail

{{ template "init-env.sh" . }}
{{ template "util-log.sh" . }}

{{ if .instance.enable_system_update -}}

_t0=$(date +%s.%N)

log_info "Installing Homebrew packages"

eval "$(/opt/homebrew/bin/brew shellenv)"

{{ $scope := "desktop" -}}
{{ if .instance.is_machine_virtual -}}
{{   $scope = "ephemeral" -}}
{{ end -}}

{{ $section := index .instance.packages.darwin $scope -}}
{{ $brew := $section.brew | sortAlpha | uniq -}}
{{ $cask := $section.cask | sortAlpha | uniq -}}

brew command-not-found-init

brew bundle --file=/dev/stdin <<EOF
{{- range $brew }}
brew "{{ . }}"
{{- end }}

{{- range $cask }}
cask "{{ . }}"
{{- end }}
EOF

# ensure no compinit security complaints
chmod 755 /opt/homebrew/share

_t1=$(date +%s.%N)
_sec=$(printf "%.3f" $((_t1 - _t0)))

log_info "Homebrew packages completed: seconds: ${_sec}"

{{ else }}
log_info "System packages are not enabled for installation"
{{- end }}
