#!/bin/zsh

set -euo pipefail

{{ template "init-env.sh" . }}
{{ template "util-log.sh" . }}

{{ if .instance.enable_system_update -}}

if ! [[ -f /opt/homebrew/bin/brew ]]; then

    log_info "Installing Homebrew"
    log_info "Root privilege is required"
    sudo -v
    NONINTERACTIVE=1 /bin/bash -lc "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    log_info "Homebrew is installed"
fi

{{ else }}
log_info "System packages are not enabled for installation"
{{- end }}
