#!/bin/zsh

set -eufo pipefail

{{ template "init-env.zsh" . }}
{{ template "util-log.zsh" . -}}

if ! pkgutil --pkg-info=com.apple.pkg.CLTools_Executables >/dev/null 2>&1; then

    log_info "Installing Command Line Tools"
    xcode-select --install
else
    log_info "Command Line Tools are installed"
fi
