#!/bin/zsh

set -eufo pipefail

{{ template "init-env.zsh" . }}
{{ template "util-log.zsh" . -}}

if ! /usr/bin/pgrep oahd >/dev/null; then
    log_info "Instaling Rosetta"
    log_info "Root privilege is required"
    softwareupdate --agree-to-license --install-rosetta
else
    log_info "Rosetta is installed"
fi
