{{/* is machine headless */}}
{{ $is_machine_headless := false -}}
{{ if eq .chezmoi.os "linux" -}}
{{   if not (findOneExecutable (list "startx" "Xorg") (list "/usr/bin" "/bin" "/sbin")) -}}
{{     $is_machine_headless = true }}
{{   end -}}
{{ end -}}


{{/* is machine virtual */}}
{{ $is_machine_virtual :=  false -}}
{{ if eq .chezmoi.os "darwin" }}
{{   if contains "Virtual Machine" (output "system_profiler" "SPHardwareDataType") }}
{{     $is_machine_virtual = true }}
{{   end -}}
{{ else if eq .chezmoi.os "linux" }}
{{   if contains "Virtualization" (output "hostnamectl") }}
{{     $is_machine_virtual = true }}
{{   end -}}
{{- end -}}


{{/* operating system distro */}}
{{ $os_distro := .chezmoi.os -}}
{{ if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{   $os_distro = printf "%s" .chezmoi.osRelease.id -}}
{{   if contains "-rpi" .chezmoi.kernel.osrelease -}}
{{     $os_distro = printf "%s-rpi" $os_distro -}}
{{   else if contains "-tegra" .chezmoi.kernel.osrelease -}}
{{     $os_distro = printf "%s-tegra" $os_distro -}}
{{   end -}}
{{ end -}}


{{/* user identity */}}
{{ $identity_name := "" }}
{{ if eq .chezmoi.os "darwin" }}
{{   $identity_name = (trim (output "sh" "-c" "id -F")) -}}
{{ else if eq .chezmoi.os "linux" }}
{{   $identity_name = (trim (output "sh" "-c" "getent passwd $USER | awk -F: '{print $5}' | cut -d, -f1")) -}}
{{ end -}}


{{/* prompts */}}
{{ $user_name := promptStringOnce . "instance.user_name" "User name" $identity_name -}}

{{ $candidate_alias := $user_name | lower | replace " " "." -}}
{{ $email_alias := promptStringOnce . "instance.email_alias" "Email alias" $candidate_alias -}}

{{ $email_domains := list "olilo.io" "proton.me" -}}
{{ $email_domain := promptChoiceOnce . "instance.email_domain" "Email domain" $email_domains (index $email_domains 0) -}}

{{ $sign_keys_git := list "dev-olilo.pub" "id_ed25519.pub" "none" -}}
{{ $sign_key_git := promptChoiceOnce . "instance.user_sign_key_git" "Git signing key" $sign_keys_git (index $sign_keys_git 0) -}}

{{ $aws_profiles := list "sandbox-iiot" "none" -}}
{{ $aws_profile := promptChoiceOnce . "instance.user_aws_profile" "Default AWS profile" $aws_profiles (index $aws_profiles 0) -}}

{{ $system_updates := list "yes" "no" -}}
{{ $system_update := promptChoiceOnce . "instance.system_updates" "Enable system package installations" $system_updates (index $system_updates 0) -}}

umask = 0o077

encryption = "age"

[age]
    identity = "~/.config/chezmoi/key-dotfiles.txt"
    recipient = "age168xpfe8ypjgdqncm6eavqq8rwlu5scpacnpemgj6eed2743lw9ys7xysus"

[data.instance]
    enable_system_update = {{ eq $system_update "yes" }}

    is_machine_headless = {{ $is_machine_headless }}
    is_machine_virtual = {{ $is_machine_virtual }}
    os_distro = {{ $os_distro | quote }}

    user_aws_profile = {{ $aws_profile | quote }}
    user_email_git = {{ printf "%s@%s" $email_alias $email_domain | quote }}
    user_github_account = {{ $user_name | lower | replace " " "" | quote }}
    user_name = {{ $user_name | quote }}
    {{ if ne $sign_key_git "none" }}
    user_sign_key_git = {{ printf "~/.ssh/%s" $sign_key_git | quote }}
    {{ else }}
    user_sign_key_git = "none"
    {{ end }}

    {{ include (printf ".chezmoitemplates/packages-%s.toml" $os_distro) }}

[git]
    autoCommit = false
    autoPush = false
