{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.chezmoidata/packages-darwin.toml
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.chezmoidata/packages-linux.toml
{{ end }}
