{{- $pathVars := dict -}}
{{- template "path-list.tmpl" (dict "Root" . "Vars" $pathVars) -}}
{{- $pathList := index $pathVars "pathList" -}}

cdl() {

    local ls_fmt="-s"
    local dir_path

    if (( $# >= 2 )); then
      ls_fmt="$1"
      dir_path="$2"
    elif (( $# == 1 )); then
        dir_path="${1}"
    else
        dir_path="${HOME}"
    fi
  
{{ if findExecutable "eza" $pathList }}
  case "${ls_fmt}" in
      -s) builtin cd "$dir_path" && eza -aF ;;
      -l) builtin cd "${dir_path}" && eza -aglF --git --time-style long-iso ;;
      -t) builtin cd "${dir_path}" && eza -F --tree -L 3 ;;
       *) print "Usage: cdl [-l|-s|-t] [directory]\n" >&2
          return 1 ;;
    esac

{{- else }}

  case "${ls_fmt}" in
      -s) builtin cd "$dir_path" && ls -aF ;;
      -l) builtin cd "${dir_path}" && ls -ahl ;;
       *) print "Usage: cdl [-l|-s|] [directory]\n" >&2
          return 1 ;;
    esac

{{ end }}
}
