{{- $pathVars := dict -}}
{{- template "path-list.tmpl" (dict "Root" . "Vars" $pathVars) -}}
{{- $path_list := index $pathVars "path_list" -}}

{{ if findExecutable "micromamba" $path_list }}

init_mamba() {

{{ template "init-mamba.zsh" . }}

if (( $# == 1 )); then
  micromamba activate "${1}"
fi
}

{{- end -}}
