{{- $pathVars := dict -}}
{{- template "path-list.tmpl" (dict "Root" . "Vars" $pathVars) -}}
{{- $pathList := index $pathVars "pathList" -}}

{{ if findExecutable "micromamba" $pathList }}

init_mamba() {

{{ template "init-mamba.zsh" . }}

if (( $# == 1 )); then
  micromamba activate "${1}"
fi
}

{{- end -}}
