{{ if and (eq .chezmoi.os "darwin") (ne .instance.user_signingkey_git "none") -}}
lsk() {
    ssh-add --apple-use-keychain {{ trimSuffix ".pub" .instance.user_signingkey_git }} >/dev/null 2>&1 || true
}
{{- end }}