{{- if ne .instance.user_signingkey_git "none" -}}

{{- $signingKey := trimSuffix ".pub" .instance.user_signingkey_git -}}
lsk() {
{{ if eq .chezmoi.os "darwin" -}}
  ssh-add --apple-use-keychain {{ $signingKey }} >/dev/null 2>&1 || true
{{- else }}
    ssh-add {{ $signingKey }} >/dev/null 2>&1 || true
{{- end }}
}

{{- end }}