# chezmoi:template:left-delimiter="#{{" right-delimiter="}}#"

"$schema" = "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json"
version = 3
console_title_template = '{{.HostName}}:{{.PWD}}'
# final_space = true

#{{ if ne .chezmoi.os "darwin" -}}#
[upgrade]
  source = 'cdn'
  interval = '168h'
  auto = true
  # notice adds significant latency
  notice = false
#{{- else -}}#
# [upgrade]
# via package manager
#{{- end }}#

[palette]
  # https://hexdocs.pm/color_palette/ansi_color_codes.html
  blue-french-sky     = '111'  # #87afff :french_sky_blue
  blue-united-nations =  '68'  # #5f87d7 :united_nations_blue
  gray-black-olive    = '237'  # #3a3a3a :black_olive
  gray-outer_space    = '238'  # #444444 :outer_space
  green-pewter        = '109'  # #87afaf :pewter_blue
  red-deep            =  '88'  # #870000 :deep_red
  yellow-citrine      = '184'  # #d7d700 :citrine

  background          = 'p:gray-outer_space'
  background-darker   = 'p:gray-black-olive'

[transient_prompt]
  template = '❯ '
  foreground = 'foreground'
  background = 'transparent'
  foreground_templates = [
    '{{if gt .Code 0}}p:red{{end}}',
    '{{if eq .Code 0}}foreground{{end}}'
  ]

[[blocks]]
  type = 'prompt'
  alignment = 'left'

  [[blocks.segments]]
    type = 'os'
    template = '{{.Icon}}{{ if .WSL }} (WSL){{ end }}'
    foreground = 'foreground'
    background = 'p:background'
    style = 'plain'

  [[blocks.segments]]
    type = 'root'
    template = '  '
    foreground = 'foreground'
    background = 'p:background'
    style = 'plain'

  [[blocks.segments]]
    type = 'path'
    template = ' {{ .Path }} '
    foreground = 'foreground'
    background = 'p:background'
    style = 'plain'

    [blocks.segments.properties]
      style = 'full'

  [[blocks.segments]]
    template = ''
    foreground = 'p:background-darker'
    background = 'transparent'
    type = 'text'
    style = 'plain'
    foreground_templates = [
      "{{if contains \"Cyan\" .Env.ITERM_PROFILE}}p:background{{end}}",
      "{{if contains \"White\" .Env.ITERM_PROFILE}}p:background{{end}}"
    ]

  [[blocks.segments]]
    type = 'git'
    template = ' {{ .HEAD }}{{ if or (.Working.Changed) (.Staging.Changed) }} *{{ end }}{{ if gt .Behind 0 }}⇣{{ end }}{{ if gt .Ahead 0 }}⇡{{ end }}</>'
    foreground = 'foreground'
    background = 'transparent'
    style = 'plain'

    [blocks.segments.properties]
      
      branch_icon = ' '
      fetch_status = true
      fetch_upstream_icon = false

[[blocks]]
  type = 'prompt'
  alignment = 'right'

  [[blocks.segments]]
    type = 'bun'
    foreground = 'foreground'
    background = 'transparent'
    template = '  {{ .Full }} '
    style = 'plain'
    
    [blocks.segments.properties]
      display_mode = 'context'
  
  [[blocks.segments]]
    type = 'elixir'
    foreground = 'foreground'
    background = 'transparent'
    template = '  {{ .Full }} '
    style = 'plain'
    
    [blocks.segments.properties]
      display_mode = 'context'

  [[blocks.segments]]
    type = 'julia'
    foreground = 'foreground'
    background = 'transparent'
    template = '  {{ .Full }} '
    style = 'plain'

    [blocks.segments.properties]
      display_mode = 'context'
  
  [[blocks.segments]]
    type = 'node'
    foreground = 'foreground'
    background = 'transparent'
    template = '  {{ .Full }} '
    style = 'plain'
    
    [blocks.segments.properties]
      display_mode = 'files'

  [[blocks.segments]]
    type = 'python'
    template = ' {{ .Venv }} '
    foreground = 'foreground'
    background = 'transparent'
    style = 'plain'

    [blocks.segments.properties]
      display_mode = 'environment'
      fetch_version = true
      fetch_virtual_env = true

  [[blocks.segments]]
    type = 'rust'
    style = 'plain'
    foreground = 'foreground'
    background = 'transparent'
    template = '  {{ .Full }} '
  
    [blocks.segments.properties]
      display_mode = 'files'

  [[blocks.segments]]
    type = 'executiontime'
    style = 'plain'
    foreground = 'p:blue-united-nations'
    background = 'transparent'
    template = '{{ .FormattedMs }}'

    [blocks.segments.properties]
      threshold = 2500

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    type = 'status'
    template = '❯ '
    foreground = 'foreground'
    background = 'transparent'
    style = 'plain'
    foreground_templates = ['{{ if gt .Code 0 }}p:red-deep{{ end }}']

    [blocks.segments.properties]
      always_enabled = true

