#!/bin/zsh

set -eufo pipefail

{{ template "init-env.zsh" . }}
{{ template "util-log.zsh" . -}}

if ! [[ -d "${ZDOTDIR}/.antidote" ]]; then
    log_info "Installing Antidote"
    git clone --depth=1 https://github.com/mattmc3/antidote.git "${ZDOTDIR}/.antidote"
else
    log_info "Antidote is installed"
fi
