#!/bin/zsh

set -eufo pipefail

{{ template "helper-env.zsh" . }}
{{ template "helper-functions.zsh" . -}}

font_dir="${XDG_DATA_HOME}/fonts"
font_version="latest"
tmp_dir="$(mktemp -d)"

fonts=(
    "Meslo"
    "FiraCode"
    "JetBrainsMono"
)

log_info "Installing Nerd Fonts"

mkdir -p "$font_dir"

for font in "${fonts[@]}"; do

    archive="${font}.zip"
    url="https://github.com/ryanoasis/nerd-fonts/releases/download/${font_version}/${archive}"

    log_info "Downloading: ${font} url: ${url}"
    curl -fLo "${tmp_dir}/${archive}" --create-dirs "${url}"

    log_info "Extracting: ${font}: at: ${tmp_dir}/${font}"
    unzip -oqq "${tmp_dir}/${archive}" -d "${tmp_dir}/${font}"

    log_info "Installing: ${font} to ${font_dir}"
    find "${tmp_dir}/${font}" -name "*.ttf" -exec cp -v {} "${font_dir}/" \;
done

rm -rf "$tmp_dir"

log_info "Updating font cache"
fc-cache -f "$font_dir"
