{{ if eq .instance.osid "linux-debian" "linux-raspbian" "linux-ubuntu" -}}

{{ $packages := list
     "bat"
     "btop"
     "build-essential"
     "curl"
     "direnv"
     "eza"
     "fd-find"
     "fzf"
     "openssh-server"
     "ripgrep"
     "shellcheck"
     "starship"
     "units"
     "yq"
     "zoxide"
     "zsh" -}}
{{ $snaps := list -}}
{{ $classicSnaps := list -}}

{{ if eq .instance.osid "linux-ubuntu" -}}
{{   $classicSnaps = mustAppend $classicSnaps "aws-cli" -}}
{{ end -}}

{{ if not .instance.headless -}}
{{   $snaps = mustAppend $snaps 
     "vivaldi" -}}
{{   $classicSnaps = concat $classicSnaps (list
     "alacritty"
     "code") -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ if lookPath "snap" }}
{{   range $snaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

{{ end -}}
