{{ if not .instance.is_machine_headless -}}
#!/bin/zsh

set -euo pipefail

{{ template "init-env.sh" . }}
{{ template "util-log.sh" . }}

base_url="https://github.com/ryanoasis/nerd-fonts/releases/latest/download"
font_dir="${XDG_DATA_HOME}/fonts"
tmp_dir="$(mktemp -d)"

fonts=(
    "FiraCode"
    "JetBrainsMono"
    "Meslo"
)

installed=$(fc-list | grep -i "Mono" | awk '{print $2}' | awk -F: '{print $1}'| sort -du)

log_info "Installing monospace Nerd fonts"

mkdir -p "$font_dir"

for font in "${fonts[@]}"; do

    # check if the font family is already installed
    if echo ${installed} | grep -qi "${font}"; then
        log_info "Mono font is installed: ${font}"
        continue
    fi

    archive="${font}.zip"
    target_dir="${font_dir}/${font}"
    url="${base_url}/${archive}"

    log_info "Downloading: ${font} from ${url}"
    curl -fsSLo "${tmp_dir}/${archive}" --create-dirs "${url}"

    log_info "Extracting: ${font} into: ${tmp_dir}/${font}"
    unzip -oqq "${tmp_dir}/${archive}" -d "${tmp_dir}/${font}"

    log_info "Installing monospace fonts from ${font} to ${target_dir}"
    mkdir -p "${target_dir}"
    find "${tmp_dir}/${font}" -type f -iname "*Mono*.ttf" -exec cp {} "${target_dir}/" \;
done

rm -rf "$tmp_dir"

log_info "Updating font cache"
fc-cache -f "$font_dir"
{{ end }}
