#!/bin/bash

set -euo pipefail

{{ template "init-env.sh" . }}
{{ template "util-log.sh" . }}


{{ if .instance.enable_system_update -}}

_t0=$(date +%s.%N)

log_info "Installing linux packages"
log_info "Root privilege is required"

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ $scope := "desktop" -}}
{{ if .instance.is_machine_headless -}}
{{   $scope = "server" -}}
{{ end -}}

{{ $section := index .instance.packages .instance.os_distro $scope -}}
{{ $packages := "" -}}


{{/* debian */}}
{{ if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") }}

{{   if hasKey $section "ppa" -}}
{{     $ppa := $section.ppa | sortAlpha | uniq -}}
{{     range $ppa -}}
{{       $sudo }} add-apt-repository -y {{ . }}
{{-    end }}
{{-  end }}

{{   $packages = $section.apt | sortAlpha | uniq -}}
{{   $sudo }}apt-get update
{{   $sudo }}apt-get install -y {{ $packages | join " " }}


{{/* fedora */}}
{{ else if eq .chezmoi.osRelease.id "fedora" }}
{{   $packages = $section.dnf | sortAlpha | uniq -}}
{{   $sudo }}dnf update -y
{{   $sudo }}dnf install -y {{ $packages | join " " }}

{{  if lookPath "sshd" -}}
    log_info "Enable sshd daemon"
    sudo systemctl enable --now sshd
{{- end }}
{{- end }}


{{/* any */}}
{{ if lookPath "snap" -}}

{{   if hasKey $section "snap" -}}
{{     $snap := $section.snap | sortAlpha | uniq -}}
{{     range $snap -}}
         ( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{-    end }}
{{-  end }}

{{   if hasKey $section "snap-classic" -}}
{{     $snap_classic := index $section "snap-classic" | sortAlpha | uniq -}}
{{     range $snap_classic -}}
         ( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{-     end }}
{{-  end}}

{{- end }}

_t1=$(date +%s.%N)
_sec=$(printf "%.3f" "$(echo "$_t1 - $_t0" | bc -l)")

log_info "Linux packages completed: seconds: ${_sec}"

{{ else }}
log_info "System packages are not enabled for installation"
{{- end }}
